* {
  font-family: "DM Sans", sans-serif;
  margin: 0 auto;
}
body {
  width: 100%;
}

h1 {
  margin-top: 20px;
  font-size: 40px;
  text-align: center;
  color: #901c1c;
}

img {
  display: block;
  width: 15%;
  margin: 0 auto;
}

video {
  display: block;
  margin: 50px auto;
  width: 50%;
  box-shadow: 0px 0px 15px grey;
}
